.mypy_cache/
*.cdf
*.tmp
.pytest_cache/
*.tar
*.pyc
*.tar.gz
*.egg-info/
*.tar.gz
*.tgz
build
/.project
/.pydevproject
*.ipynb
/*.html
/testing.py
tests/.coverage
tests/.hypothesis
tests/coverage.xml
tests/codecov.sh
doc/_build
doc/api
.eggs/*
dist/*
.hypothesis/*
