.mypy_cache/
*.tmp
.pytest_cache/

*.DS_Store

*.pyc
*.egg-info/
build
/.project
/.pydevproject
*.ipynb

doc/_build
doc/api

.eggs/*
dist/*
.hypothesis/*

/*.html
coverage.xml
.coverage
htmlcov
*asv/*

cdflib/_version.py
*.nc
*.ncdf
*.cdf
*.tar
*.tar.gz
*.tgz
