.mypy_cache/
*.tmp
.pytest_cache/

*.pyc
*.egg-info/
build
/.project
/.pydevproject
*.ipynb
/*.html
/testing.py
**/.coverage
**/.hypothesis
**/coverage.xml
**/codecov.sh
doc/_build
doc/api
.eggs/*
dist/*
.hypothesis/*
*asv/*

cdflib/_version.py
*.nc
*.ncdf
*.cdf
*.tar
*.tar.gz
*.tgz
