repos:
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable']
        exclude: ".*(.fits|.fts|.fit|.txt|tca.*|extern.*|.rst|.md|__init__.py|.svg)$"

  - repo: https://github.com/timothycrosley/isort
    rev: 5.8.0
    hooks:
      - id: isort
        args: ['--sp','setup.cfg']
        exclude: ".*(.fits|.fts|.fit|.txt|tca.*|extern.*|.rst|.md|.svg)$"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: trailing-whitespace
        exclude: ".*(.fits|.fts|.fit|.txt|.svg|.json)$"
      - id: debug-statements
      - id: check-added-large-files
      - id: end-of-file-fixer
        exclude: ".*(.fits|.fts|.fit|.txt|tca.*|.svg|.json)$"
      - id: mixed-line-ending
        exclude: ".*(.fits|.fts|.fit|.txt|tca.*|.svg)$"

  -   repo: https://github.com/pre-commit/mirrors-mypy
      rev: 'v0.961'
      hooks:
      - id: mypy
