name: pre-commit checks

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Install pre-commit
      run: |
        python -m pip install --upgrade pip
        python -m pip install pre-commit
        python -m pip install .
    - name: Run pre-commit
      run: pre-commit run --all-files
